$dark: #212121 !default;
$light-gray: #787878 !default;
$lighter-gray: #c6c6c6 !default;
$blue: #03a9f4 !default;
$violet: #7c4dff !default;
$white: #ffffff !default;
$red: #f50057 !default;
$green: #00c853 !default;
$dark-blue: #3949ab !default;
