.fullsize-container {
  height: 100vh;
  width: 100vw;
}

.form-container {
  max-width: 450px;
  width: 85%;
}

.container {
  max-width: 450px;
  width: 95%;
  margin: 0 auto;
}

.rounded {
  border-radius: 50%;
}
