@use "../color.scss" as color;

@mixin button($bgcolor, $width) {
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  width: $width;
  height: 2em;
  border-radius: 5px;
  background-color: $bgcolor;
}

@mixin fullsize-button($bgcolor) {
  @include button($bgcolor, 100%);
  font-size: 1rem;
  font-family: "Roboto";
  font-weight: 400;
  text-transform: capitalize;
  margin: 0.5em 0;
}

.btn-primary-2 {
  @include button(color.$blue, 70%);
}

.btn-full-primary {
  @include fullsize-button(color.$dark-blue);
}

.btn-full-secondary {
  @include fullsize-button(color.$blue);
}

.btn-full-caution {
  @include fullsize-button(color.$violet);
}
