@use "../color.scss" as color;

.person {
  display: flex;
  align-items: center;

  img {
    border-radius: 50%;
    cursor: pointer;
  }
  p {
    font-size: 1.2rem;
    margin-left: 0.8em;
    font-family: "Poppins";
    color: color.$dark;
    cursor: pointer;
  }
}
